<html>
    <head>
        <title>
            energy model api
        </title>
    </head>
    <body bgcolor="#ffe4e1">
        <h1>DASHBOARD</h1><br>
        <h3>This data contains 2021-01 ~ 2021.10</h3>
        
        <iframe
    src="http://192.168.16.1:3000/public/dashboard/63ef0dfe-58d1-4357-800d-f7e003a4d044"
    frameborder="0"
    width="1880"
    height="950"
    allowtransparency
></iframe>
                
                <a href='/'>시작 화면으로 돌아갑니다</a>
            </div>
        </div>

    </body>
</html>