<html>
    <head>
        <title>
            energy model api
        </title>
    </head>
    <body bgcolor="#ffe4e1">
        <h1>DASHBOARD</h1><br>
        <h3>This data contains 2021-01 ~ 2021.10</h3>
        
        <iframe
  src="http://192.168.16.1:3000/public/dashboard/ab233816-a2f4-4bd5-a3d5-20a17764e782"
  frameborder="0"
  width="1880"
  height="950"
  allowtransparency
></iframe>
                
                <a href='/'>시작 화면으로 돌아갑니다</a>
            </div>
        </div>

    </body>
</html>