<html>
    <head>
        <title>
            energy model api introduction
        </title>
    </head>
    <body bgcolor="#ffe4e1">
        <h1>WELCOME SEOUL-ENERGY</h1>
        <a href='/'>시작 화면으로 돌아갑니다</a><br><br>

        <div style='text-align:center;'>
            <h4><br><br><br><br><br><br><br><br><br>
                SEOUL-ENERGY에 오신 것을 환영합니다.<br>
                SEOUL-ENERGY는 전력거래소에서 제공한 연료원 별 전력거래량 정보를 기반으로 전력거래량은 예측합니다.<br><br>
                더불어 전력거래소의 수요자원 전력 거래 시스템의 연동 서비스를 제공합니다.<br>
                서울에너지공단에서 제공하는 연료에 대한 설명을 연동시켜 놓았습니다.<br><br>
                보다 나은 서울을 위해, 함께합니다.<br>
                BETTER SEOUL, SEOUL-ENERGY<br><br>
            </h4><br><br><br>
                
            
        </div>

    </body>
</html>